{
    "presets": [
        "babel-preset-expo"
    ],
    "env": {
        "development": {
            "plugins": [
                ["@babel/plugin-transform-react-jsx"],
                ["@babel/plugin-proposal-decorators", { "legacy": true }]
            ]
        }
    }
}
